<?xml version="1.0" encoding="utf-8" ?>
<!-- 
名称：SDK配置文件
版本：v1.01
-->
<configuration>
  <!-- signKey：接口参数签名key值,如果值为空则不做参数签名, systemSwitch[系统日志]、apiSwitch[接口日志]：网络日志开关 0-关闭， 1-打开，queueMax: 数据队列最大值 -->
  <parameter appId="kmwlyy" appKey="AABBCD" url="http://log.kmwlyy.com:80/webapi/systemLog/writeLog" apiUrl="http://log.kmwlyy.com:80/webapi/apiLog/writeLog" systemName="康美网络医院" systemCode="kmwlyy" systemHttpSwitch="1" apiHttpSwitch="1" />

  <!-- fileSwitch：写文件开关，0-关闭，1-打开 -->
  <!-- systemFile：系统日志输出文件名, apiFile：api日志输出文件名，"":当前应用根路径，${webApp.root}:当前应用根路径 -->
  <!-- dataPattern：日志产生形式， “”：一个整日志，“yyyy-MM-dd”：按日分割日志，“yyyy-MM”：按月分割日志 -->
  <!-- cutType：切割方式，0：不切分，1：按大小切分，2：按日期切分 -->
  <!-- cutNum：保留最近切片数量 -->
  <!-- cutSize："" - 不分割文件, 单位：KB,MB,GB -->
  <systemfile systemFilePath="c:\log\system.log" systemCutType="1" systemDataPattern="yyyy-MM-dd" systemCutSize="1mb" systemCutNum="10" systemFileSwitch="0"/>
  <apifile  apiFilePath="${webApp.root}\log\api.log" apiCutType="2" apiDataPattern="yyyy-MM" apiCutSize="10mb" apiCutNum="10" apiFileSwitch="1"/>
</configuration>