<?xml version="1.0" encoding="utf-8"?>

<!-- 有关使用 web.config 转换的详细信息，请访问 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings  xdt:Transform="Replace">
    <!--优化：数据库连接池优化-->
    <add name="KMEHospEntities" connectionString="Data Source=192.168.100.50;Initial Catalog=KMEHosp;User ID=KMEHosp;Password=KMEHosp#2016;Max Pool Size=512; Min Pool Size=50;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      
      在下例中，“Replace”转换将替换 
      web.config 文件的整个 <customErrors> 节。
      请注意，由于 
      在 <system.web> 节点下仅有一个 customErrors 节，因此不需要使用“xdt:Locator”特性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>